@model Incident

<h2>Incident Details</h2>

<p>Incident ID: @Model.IncidentId</p>
<p>วันที่แจ้ง: @Model.Date</p>
<p>ที่มา: @Model.InsideOrOutside</p>

@if (Model.InsideOrOutside == "ภายใน")
{
    <p>รหัสพนักงาน: @Model.EmployeeId</p>
}
else
{
    <p>ชื่อผู้แจ้ง: @Model.Name</p>
    <p>บริษัท: @Model.CompanyName</p>
    <p>เบอร์โทรศัพท์: @Model.PhoneNumber</p>
}

<p>ประเภทบริการ: @Model.serviceTypeId</p>
<p>ปัญหา: @Model.Problem</p>

<a href="/Incidents/Index">Back to List</a>